[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

flask
bson
pythoncommons = { git = 'https://github.com/RBerkheimer/pythoncommons.git', ref = '0.0.1', editable = false }
mars = { git = 'https://github.com/RBerkheimer/mars.git', ref = '0.0.1', editable = false }

[dev-packages]

nose
nose-testconfig
