#The default template of the composite structure.

structure = Composite

collection = mars_2395023asdg

name = default

field_names = station, order
field_types = string,integer
field_required = False,False
field_defaults = --------, None

translator_directory = {structures}/translators/composite/default
