#The default template for the parameter structure.

structure = Parameter

collection = mars_sdfgsdasdfgsd

name = default

field_names = name,description
field_types = string,string
field_required = True,True
field_defaults = None, None

translator_directory = {structures}/translators/parameter/default
